GRAFANA_VERSION=13.0.1-security-01
PROMETHEUS_VERSION=v3.12.0-distroless
PROMETHEUS_RETENTION_TIME=7d
PROMETHEUS_RETENTION_SIZE=512MB
NODE_EXPORTER_VERSION=v1.11.1-distroless
CADVISOR_VERSION=v0.55.1
LOKI_VERSION=3.7.2
ALLOY_VERSION=v1.16.1
ALPINE_VERSION=3.22.4

MONITORING_DOMAIN=monitoring.example.fr
