NGINX_VERSION=1.30.2-alpine
CERTBOT_VERSION=v5.6.0
ADMIN_EMAIL=contact@example.fr
LINKWARDEN_DOMAIN=links.example.fr
DAVIS_DOMAIN=dav.example.fr
FRESHRSS_DOMAIN=freshrss.example.fr
TTRSS_DOMAIN=ttrss.example.fr
NEWSLETTER_DOMAIN=newsletter.example.fr
WEB_DOMAIN=web.example.fr
MONITORING_DOMAIN=monitoring.example.fr
